---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-avoid-const-params-in-decls,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-else-after-return,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  modernize-avoid-bind,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  misc-unused-parameters,
  misc-misplaced-const,
  misc-redundant-expression,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference
WarningsAsErrors: >-
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  misc-unused-parameters,
  misc-redundant-expression,
  readability-misleading-indentation
HeaderFilterRegex: '^(src|include)/'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 'false'
  - key: bugprone-assert-side-effect.AssertMacros
    value: 'assert,ASSERT,TH_ASSERT,TH_ASSERT_MSG,TH_ASSERT_RELEASE,TH_ASSERT_RELEASE_MSG,TH_ASSERT_FATAL,TH_PRECONDITION,TH_POSTCONDITION,TH_INVARIANT'
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: 'main'
  - key: bugprone-narrowing-conversions.WarnOnEquivalentBitWidth
    value: 'false'
  - key: bugprone-narrowing-conversions.WarnWithinTemplateInstantiation
    value: 'false'
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: '_result'
  - key: misc-unused-parameters.StrictMode
    value: 'false'
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: 'false'
  - key: readability-else-after-return.WarnOnConditionVariables
    value: 'false'
  - key: readability-function-cognitive-complexity.Threshold
    value: '40'
...
